version: '3'
services:
  web:
    build: web
    depends_on:
      - code
      - db
    expose:
      - "80"
    links:
      - db
    volumes:
      - ./code/SQL-Injection:/var/www/html
    ports:
      - "8080:80"
  code:
    build: code
    volumes:
      - ./code:/git
  db:
    image: mysql:5.7
    expose:
      - "3306"
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
